img{
  height: 30vh;
  width: 30vh;
}

.Imageapp{
  display: flex;
  margin: 10px;
}
.Titleh1{
  border: 1px solid black;
  margin: 5px;
  position: absolute;
  top: 5px;
  width: 70vh;
  height: 7vh;
  color: green;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.Descriptionh1{
  border: 1px solid black;
  height: 20vh;
  margin: 5px;
  margin-top: 60px;
  width: 70vh;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.Appdiv{
  border: 2px solid green;
  width: 105vh;
  margin: 10px;
  position: absolute;
  left: 60vh;
}


/* 

.Image{
  height: 30vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
